@model IEnumerable<SAT.DATA.EF.Student>

@{
    ViewBag.Title = "Students";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Add a New Student", "Create")
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div style="margin: .3em; padding: .1em; border-radius: 5px; min-width: 250px; text-align: center; max-width: fit-content;">

                <div class="studentCard">
                    <div class="imgContainer">
                        <div class="detailLink">
                            <a href="@Url.Action("Details", new { id = item.StudentId})" title="@item.FullName">
                                <img src="~/Content/images/@item.PhotoUrl" alt="@item.FullName" style="max-width: 150px;" />
                            </a>
                        </div>
                    </div>
                    <div class="details">
                        <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                        <br /> @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
                    </div>


                    @if (User.IsInRole("Admin"))
                    {
                        <div class="editLinks">
                            @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |


                            @if (item.Enrollments.Count() > 0 && item.StudentStatus.SSID == 2)
                            {
                                <p>Enrolled</p>
                            }
                            else if (item.StudentStatus.SSID == 3)
                            {
                                @Html.ActionLink("Make Current", "Delete", new { id = item.StudentId })
                            }
                            else
                            {
                                @Html.ActionLink("Withdraw", "Delete", new { id = item.StudentId })
                            }


                          

                        </div>
                    }
                </div>

            </div>


        </div>


    }
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentStatus.SSName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentStatus.SSName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.StudentId })
                @if (User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId })
                    @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                }

            </td>
        </tr>
    }

    </table>*@
