@model SAT.DATA.EF.StudentStatus

@{
    ViewBag.Title = Model.SSName;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSDescription)
        </dd>

    </dl>
</div>
<p>@if (User.IsInRole("Admin")) { 
    @Html.ActionLink("Edit", "Edit", new { id = Model.SSID }) @:|
                                                              }
    @Html.ActionLink("Back to Student Statuses", "Index")
</p>
