@model IEnumerable<SAT.DATA.EF.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Add New Course", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
        <a href="  @Url.Action("Details", "Courses")">

            @Html.DisplayFor(modelItem => item.CourseName)
        </a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curriculum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {

             



                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                if (item.IsActive != true)
                { @:|
                    @Html.ActionLink("Activate", "Delete", new { id = item.CourseId })
                }
                else
                { @:|
                    @Html.ActionLink("De-Activate", "Delete", new { id = item.CourseId })
                }

            }
        </td>
    </tr>
    }

</table>
