@model SAT.DATA.EF.ScheduledClass

@{
    ViewBag.Title = Model.Cours.CourseName;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledClassStatu.SCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledClassStatu.SCName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduledClassId }) |
    @Html.ActionLink("Back to Scheduled Classes", "Index")
</p>
